**/Makefile
**/Makefile.in
**/*.patch
**/*.log
**/*~
auto/
m4/
libtool
configure
config.log
config.status
libtool
aclocal.m4
autom4te.cache/
bin/
obj/
*.gz
*.zip
*.exe

src/*.o
src/*.lo
src/*.la
src/stunnel
src/config.h
src/config.h.in
src/stunnel3
src/stamp-h1
src/.deps/
src/.libs/
src/test/
src/tests/

doc/*.8
doc/*.8.in
doc/*.html
doc/*.html.in

tools/stunnel.conf-sample
tools/stunnel.init
tools/stunnel.service
tools/certdata.txt
